body{
    background-color: #ffff00;
}
ul{
    margin:0;
    list-style-type: square;
}
video-list_item{
    width:calc(25%-2rem);
    margin-bottom:2rem;
    padding: 2rem;
    position: relative;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.2);
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -ms-transition:all 0.2s;
    -o-transition:all 0.2s;
}
.video-list{
    display:flex;
    padding:0;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    justify-content:space-between;
}
.snippet{
    position: relative;
}
pre{
    display:block;
    padding: 9.5px;
    margin:  10px;
    font-size: 13px;
    line-heigh:1.428571429;
    color: #f7f4f4;
    word-break:break-all;
    word-wrap:break-word;
    background-color: #0e0b0bd0;
    border:1px solid #cccccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
ul{
    margin: text-center;
}
.pagination{
    text-align-last: center;
    position: absolute;

}